In [67]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
from tabulate import tabulate
import warnings
warnings.filterwarnings('ignore')

In [68]:
datasets=[['./csvs\\A211102.csv',
  './csvs\\A211105.csv',
  './csvs\\A211108.csv',
  './csvs\\A211109.csv',
  './csvs\\A211110.csv',
  './csvs\\A211112.csv',
  './csvs\\A211115.csv',
  './csvs\\A211116.csv',
  './csvs\\A211117.csv',
  './csvs\\A211118.csv',
  './csvs\\A211122.csv',
  './csvs\\A211123.csv',
  './csvs\\A211125.csv',
  './csvs\\A211206.csv',
  './csvs\\A211208.csv',
  './csvs\\A211223.csv',
  './csvs\\A211225.csv',
  './csvs\\A211228.csv',
  './csvs\\I211102.csv',
  './csvs\\I211103.csv',
  './csvs\\I211104.csv',
  './csvs\\I211108.csv',
  './csvs\\I211110.csv',
  './csvs\\I211112.csv',
  './csvs\\I211115.csv',
  './csvs\\I211118.csv',
  './csvs\\I211119.csv',
  './csvs\\I211122.csv'],
 ['./csvs\\A211103.csv', './csvs\\A211126.csv', './csvs\\A211207.csv'],
 ['./csvs\\A211124.csv',
  './csvs\\I211124.csv',
  './csvs\\I211125.csv',
  './csvs\\I211130.csv',
  './csvs\\I211201.csv',
  './csvs\\I211202.csv',
  './csvs\\I211203.csv',
  './csvs\\I211207.csv',
  './csvs\\I211208.csv',
  './csvs\\I211209.csv',
  './csvs\\I211210.csv',
  './csvs\\I211213.csv',
  './csvs\\I211215.csv',
  './csvs\\I211216.csv',
  './csvs\\I211220.csv',
  './csvs\\I211222.csv',
  './csvs\\I211223.csv'],
 ['./csvs\\I211116.csv', './csvs\\I211117.csv']]

In [69]:
say=0
dataset="./results/vs/"
lines=[["Type","file",'T', 'CV', 'Acc', 'b_Acc', 'Prec', 'Rec', 'F1', 'kap', 'ROC', 'tra-T', 'test-T', 'Al-Time']]
for no, i in enumerate(datasets):
    print(no,i)
    for ii in i:
        row=[]
        for iii in i:
            if ii[7:-4]!=iii[7:-4]:
                file=f"{dataset}/@{ii[7:-4]}@{iii[7:-4]}.csv"
                #print(file)
            
                df=pd.read_csv(file)
                a=list(dict(df.mean()).values())
                a.insert(0, file[14:-4])
                a.insert(0, f"{ii[7]}-{iii[7]}")
                lines.append(a)
            
results = pd.DataFrame (lines[1:], columns = lines[0])
results.to_csv("periodvsperiod.csv",index=False)

#print (tabulate(results, headers=list(results.columns)))

0 ['./csvs\\A211102.csv', './csvs\\A211105.csv', './csvs\\A211108.csv', './csvs\\A211109.csv', './csvs\\A211110.csv', './csvs\\A211112.csv', './csvs\\A211115.csv', './csvs\\A211116.csv', './csvs\\A211117.csv', './csvs\\A211118.csv', './csvs\\A211122.csv', './csvs\\A211123.csv', './csvs\\A211125.csv', './csvs\\A211206.csv', './csvs\\A211208.csv', './csvs\\A211223.csv', './csvs\\A211225.csv', './csvs\\A211228.csv', './csvs\\I211102.csv', './csvs\\I211103.csv', './csvs\\I211104.csv', './csvs\\I211108.csv', './csvs\\I211110.csv', './csvs\\I211112.csv', './csvs\\I211115.csv', './csvs\\I211118.csv', './csvs\\I211119.csv', './csvs\\I211122.csv']
1 ['./csvs\\A211103.csv', './csvs\\A211126.csv', './csvs\\A211207.csv']
2 ['./csvs\\A211124.csv', './csvs\\I211124.csv', './csvs\\I211125.csv', './csvs\\I211130.csv', './csvs\\I211201.csv', './csvs\\I211202.csv', './csvs\\I211203.csv', './csvs\\I211207.csv', './csvs\\I211208.csv', './csvs\\I211209.csv', './csvs\\I211210.csv', './csvs\\I211213.csv', './csvs\\I211215.csv', './csvs\\I211216.csv', './csvs\\I211220.csv', './csvs\\I211222.csv', './csvs\\I211223.csv']
3 ['./csvs\\I211116.csv', './csvs\\I211117.csv']

In [70]:
lines=[["Type",'T', 'CV', 'Acc', 'b_Acc', 'Prec', 'Rec', 'F1', 'kap', 'ROC', 'tra-T', 'test-T', 'Al-Time']]

for i in results['Type'].unique():
    sub=results[results['Type']==i]
    a=list(dict(sub.mean()).values())
    a.insert(0, i)
    lines.append(a)
    print(i)
score = pd.DataFrame (lines[1:], columns = lines[0])
score.to_csv("meantable_scores.csv",index=False)

A-A
A-I
I-A
I-I

In [72]:
score

,Type,T,CV,Acc,b_Acc,Prec,Rec,F1,kap,ROC,tra-T,test-T,Al-Time
0,A-A,2.0,3.0,0.756274,0.737748,0.726432,0.737748,0.702000,0.741305,0.0,1.620038,0.184970,0.0
1,A-I,2.0,3.0,0.760485,0.740175,0.743269,0.740175,0.714114,0.747170,0.0,1.528198,0.190997,0.0
2,I-A,2.0,3.0,0.686411,0.725415,0.719754,0.725415,0.679336,0.670883,0.0,1.545128,0.170743,0.0
3,I-I,2.0,3.0,0.767732,0.741384,0.756386,0.741384,0.719747,0.754727,0.0,1.515919,0.193987,0.0

In [73]:
say=0
dataset="./results/vs/"
lines=[["Type","file",'T', 'CV', 'Acc', 'b_Acc', 'Prec', 'Rec', 'F1', 'kap', 'ROC', 'tra-T', 'test-T', 'Al-Time']]
for no, i in enumerate(datasets):
    print(no,i)
    for ii in i:
        row=[]
        for iii in i:
            if ii[7:-4]!=iii[7:-4]:
                file=f"{dataset}/@{ii[7:-4]}@{iii[7:-4]}.csv"
                #print(file)
            
                df=pd.read_csv(file)
                a=list(dict(df.std()).values())
                a.insert(0, file[14:-4])
                a.insert(0, f"{ii[7]}-{iii[7]}")
                lines.append(a)
            
results = pd.DataFrame (lines[1:], columns = lines[0])
results.to_csv("periodvsperiod_std.csv",index=False)

#print (tabulate(results, headers=list(results.columns)))

0 ['./csvs\\A211102.csv', './csvs\\A211105.csv', './csvs\\A211108.csv', './csvs\\A211109.csv', './csvs\\A211110.csv', './csvs\\A211112.csv', './csvs\\A211115.csv', './csvs\\A211116.csv', './csvs\\A211117.csv', './csvs\\A211118.csv', './csvs\\A211122.csv', './csvs\\A211123.csv', './csvs\\A211125.csv', './csvs\\A211206.csv', './csvs\\A211208.csv', './csvs\\A211223.csv', './csvs\\A211225.csv', './csvs\\A211228.csv', './csvs\\I211102.csv', './csvs\\I211103.csv', './csvs\\I211104.csv', './csvs\\I211108.csv', './csvs\\I211110.csv', './csvs\\I211112.csv', './csvs\\I211115.csv', './csvs\\I211118.csv', './csvs\\I211119.csv', './csvs\\I211122.csv']
1 ['./csvs\\A211103.csv', './csvs\\A211126.csv', './csvs\\A211207.csv']
2 ['./csvs\\A211124.csv', './csvs\\I211124.csv', './csvs\\I211125.csv', './csvs\\I211130.csv', './csvs\\I211201.csv', './csvs\\I211202.csv', './csvs\\I211203.csv', './csvs\\I211207.csv', './csvs\\I211208.csv', './csvs\\I211209.csv', './csvs\\I211210.csv', './csvs\\I211213.csv', './csvs\\I211215.csv', './csvs\\I211216.csv', './csvs\\I211220.csv', './csvs\\I211222.csv', './csvs\\I211223.csv']
3 ['./csvs\\I211116.csv', './csvs\\I211117.csv']

In [81]:
results.groupby("Type").size()

Type
A-A    312
A-I    196
I-A    196
I-I    332
dtype: int64

In [82]:
results

,Type,file,T,CV,Acc,b_Acc,Prec,Rec,F1,kap,ROC,tra-T,test-T,Al-Time
0,A-A,@A211102@A211105,1.581139,1.581139,0.000010,0.000066,0.000187,0.000066,0.000136,0.000012,0.0,0.036376,0.014441,0.0
1,A-A,@A211102@A211108,1.581139,1.581139,0.000025,0.000043,0.000842,0.000043,0.000428,0.000025,0.0,0.072251,0.013024,0.0
2,A-A,@A211102@A211109,1.581139,1.581139,0.000121,0.000110,0.000397,0.000110,0.000199,0.000129,0.0,0.036765,0.014545,0.0
3,A-A,@A211102@A211110,1.581139,1.581139,0.000412,0.000496,0.002909,0.000496,0.000693,0.000469,0.0,0.034295,0.015950,0.0
4,A-A,@A211102@A211112,1.581139,1.581139,0.000062,0.000049,0.001278,0.000049,0.001024,0.000082,0.0,0.048316,0.007760,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,I-I,@I211223@I211216,1.581139,1.581139,0.000190,0.001085,0.005705,0.001085,0.004010,0.000214,0.0,0.047500,0.013474,0.0
1032,I-I,@I211223@I211220,1.581139,1.581139,0.000030,0.000026,0.000792,0.000026,0.000397,0.000031,0.0,0.063790,0.025216,0.0
1033,I-I,@I211223@I211222,1.581139,1.581139,0.000010,0.000012,0.000539,0.000012,0.000267,0.000011,0.0,0.076802,0.008240,0.0
1034,I-I,@I211116@I211117,1.581139,1.581139,0.000028,0.000031,0.008898,0.000031,0.005722,0.000201,0.0,0.099309,0.011788,0.0
1035,I-I,@I211117@I211116,1.581139,1.581139,0.000033,0.000047,0.001536,0.000047,0.001432,0.000042,0.0,0.137059,0.018398,0.0

In [83]:
1036*80

82880

In [84]:
82880/3600

23.022222222222222

In [75]:
lines=[["Type",'T', 'CV', 'Acc', 'b_Acc', 'Prec', 'Rec', 'F1', 'kap', 'ROC', 'tra-T', 'test-T', 'Al-Time']]

for i in results['Type'].unique():
    sub=results[results['Type']==i]
    a=list(dict(sub.mean()).values())
    a.insert(0, i)
    lines.append(a)
    print(i)
std = pd.DataFrame (lines[1:], columns = lines[0])
std.to_csv("meantable_std.csv",index=False)

A-A
A-I
I-A
I-I

In [76]:
std

,Type,T,CV,Acc,b_Acc,Prec,Rec,F1,kap,ROC,tra-T,test-T,Al-Time
0,A-A,1.581139,1.581139,0.001465,0.001660,0.004707,0.001660,0.003459,0.001559,0.0,0.061823,0.011790,0.0
1,A-I,1.581139,1.581139,0.001854,0.001827,0.004322,0.001827,0.003619,0.001955,0.0,0.057142,0.012602,0.0
2,I-A,1.581139,1.581139,0.002139,0.002601,0.004262,0.002601,0.004379,0.002290,0.0,0.072132,0.013467,0.0
3,I-I,1.581139,1.581139,0.002808,0.002685,0.005458,0.002685,0.005079,0.002969,0.0,0.068445,0.014539,0.0

In [77]:
score=score.round(3)
std=std.round(3)
merged=pd.DataFrame()
for i in mean.columns:
    merged[i]=score[i].astype(str)+"±"+std[i].astype(str)


merged

,Type,T,CV,Acc,b_Acc,Prec,Rec,F1,kap,ROC,tra-T,test-T,Al-Time
0,A-A±A-A,2.0±1.581,3.0±1.581,0.756±0.001,0.738±0.002,0.726±0.005,0.738±0.002,0.702±0.003,0.741±0.002,0.0±0.0,1.62±0.062,0.185±0.012,0.0±0.0
1,A-I±A-I,2.0±1.581,3.0±1.581,0.76±0.002,0.74±0.002,0.743±0.004,0.74±0.002,0.714±0.004,0.747±0.002,0.0±0.0,1.528±0.057,0.191±0.013,0.0±0.0
2,I-A±I-A,2.0±1.581,3.0±1.581,0.686±0.002,0.725±0.003,0.72±0.004,0.725±0.003,0.679±0.004,0.671±0.002,0.0±0.0,1.545±0.072,0.171±0.013,0.0±0.0
3,I-I±I-I,2.0±1.581,3.0±1.581,0.768±0.003,0.741±0.003,0.756±0.005,0.741±0.003,0.72±0.005,0.755±0.003,0.0±0.0,1.516±0.068,0.194±0.015,0.0±0.0

In [79]:
merged.to_csv("merged.csv",index=False)